server:
  port: ${WIKITABIA_SERVER_PORT}
  forward-headers-strategy: framework


spring:
  datasource:
    url: ${DB_ADDR}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL10Dialect
    hibernate:
      ddl-auto: validate
  sql:
    init:
      schema-locations: classpath:init.sql
      mode: always

keycloak:
  realm: ${KEYCLOAK_REALM}
  resource: ${KEYCLOAK_RESOURCE}
  auth-server-url: ${KEYCLOAK_URL}
  ssl-required: external
  public-client: false
  principal-attribute: preferred_name
  credentials:
    secret: ${KEYCLOAK_CLIENT_SECRET}
  bearer-only: true

wikitabia:
  server:
    url: ${WIKITABIA_SERVER_URL}
