name: Build and Delivery dev

on:
  push:
    branches:
      - main

jobs:
  delivery:
    environment: wikitabia-dev
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.3
        with:
          maven-version: 3.8.2
      - name: Maven Verify
        run: mvn clean install
      - name: Login to Docker registry
        uses: docker/login-action@v1
        with:
          registry: ${{secrets.DOCKER_REGISTRY_URL}}
          username: ${{secrets.DOCKER_REGISTRY_LOGIN}}
          password: ${{secrets.DOCKER_REGISTRY_PASS}}
      - name: Build and publish Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          context: .
          tags: ${{secrets.DOCKER_REGISTRY_URL}}/${{secrets.DOCKER_REGISTRY_REPO}}/${{secrets.DOCKER_REGISTRY_IMAGE}}:${{secrets.DOCKER_REGISTRY_IMAGE_TAG_DEV}}
      - name: transfer docker-compose
        uses: appleboy/scp-action@master
        with:
          host: ${{secrets.DEV_HOST}}
          username: ${{secrets.DEV_HOST_USER}}
          password: ${{secrets.DEV_HOST_PASSWORD}}
          port: 22
          source: "docker-compose.yaml"
          target: "wikiserver/deployment"
  deploy:
    needs: delivery
    environment: wikitabia-dev
    runs-on: [self-hosted]
    steps:
      - name: Login to Docker registry
        uses: docker/login-action@v1
        with:
          registry: ${{secrets.DOCKER_REGISTRY_URL}}
          username: ${{secrets.DOCKER_REGISTRY_LOGIN}}
          password: ${{secrets.DOCKER_REGISTRY_PASS}}
      - name: Deploy docker-compose
        uses: matheusvanzan/sshpass-action@v2
        with:
          host: ${{secrets.DEV_HOST}}
          user: ${{secrets.DEV_HOST_USER}}
          pass: ${{secrets.DEV_HOST_PASSWORD}}
          run: |
            docker rmi ${{secrets.DOCKER_REGISTRY_URL}}/${{secrets.DOCKER_REGISTRY_REPO}}/${{secrets.DOCKER_REGISTRY_IMAGE}}:${{secrets.DOCKER_REGISTRY_IMAGE_TAG_DEV}}
            echo WIKITABIA_SERVER_OUTER_PORT=${{secrets.WIKITABIA_SERVER_OUTER_PORT}} > wikiserver/deployment/.env
            echo REGISTRY_URL=${{secrets.DOCKER_REGISTRY_URL}} >> wikiserver/deployment/.env
            echo WIKITABIA_SERVER_REPO=${{secrets.DOCKER_REGISTRY_REPO}} >> wikiserver/deployment/.env
            echo WIKITABIA_SERVER_IMAGE_NAME=${{secrets.DOCKER_REGISTRY_IMAGE}} >> wikiserver/deployment/.env
            echo WIKITABIA_SERVER_IMAGE_TAG=${{secrets.DOCKER_REGISTRY_IMAGE_TAG_DEV}} >> wikiserver/deployment/.env
            echo DB_USER=${{secrets.DB_USER}} >> wikiserver/deployment/.env
            echo DB_PASS=${{secrets.DB_PASS}} >> wikiserver/deployment/.env
            echo DB_NAME=${{secrets.DB_NAME}} >> wikiserver/deployment/.env
            echo DB_PORT=${{secrets.DB_PORT}} >> wikiserver/deployment/.env
            cd wikiserver/deployment && docker compose up -d
