name: Build

on:
  push:
    branches:
      - develop
  pull_request:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11 - verify
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Maven Verify
        run: mvn clean install
